 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(51, 42, 0, 0.7),rgba(51, 42, 0, 0.7)), url(Images/Brewery\ Task\ Background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Satisfy', cursive;
}

.search-bar{
    width: 100%;
    max-width: 900px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color:floralwhite;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: floralwhite;
    cursor: pointer;
}

#resultTable {
    width: 100%;
    max-width: 1000px;
    margin-top: 40px;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: rgba(51, 42, 0, 0.25);
    border-radius: 20px;
    backdrop-filter: blur(4px) saturate(200%);
    border: 1px solid white;
    overflow: hidden;
  }
  
  #resultTable th {
    background-color: #f8f8f8;
    font-weight: bold;
    padding: 8px;
    text-align: center;
  }
  
  #resultTable td {
    border: 1px solid white;
    padding: 8px;
    color: white;
    text-align: center;
  }
  
  #resultTable tr:first-child td {
    border-top: none;
  }
  
  #resultTable tr:last-child td {
    border-bottom: none;
  }
  
  #resultTable tr td:first-child {
    border-left: none;
  }
  
  #resultTable tr td:last-child {
    border-right: none;
  }
  
  #resultTable tr:not(:first-child) {
    border-top: 1px solid white;
  }

  #resultTable td a {
    color:yellow;
  }


 
  
